<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h3>Using Flexbox</h3>
    <div class="display-flex flex-col">
        <div class="flex-row flex-space-between">
            <div class="circle red"></div>
            <div class="circle cyan"></div>
            <div class="circle black"></div>
        </div>
        <div class="flex-row flex-space-between">
            <div class="square magenta"></div>
            <div class="square yellow"></div>
        </div>
        <div class="flex-row flex-end">
            <div class="square width-70-percent green"></div>
        </div>
    </div>
    
    <h3>Using Grids</h3>
    <div class="display-grid ">
            <div class="grid-item-1 circle red"></div>
            <div class="grid-item-2 circle cyan"></div>
            <div class="grid-item-3 circle black"></div>
            <div class="grid-item-4 square magenta"></div>
            <div class="grid-item-5 square yellow"></div>
            <div class="grid-item-6 square width-minus200px green"></div>
    </div>
</body>
</html>